$menuColor: #0e1621;
$textColor: rgba(255, 255, 255, 0.84);
$secondTextColor: #aaaaaa;
$itemColor: #202b36;
$btnChat: #3a3a3d;
$btnHover: #464649;
$bgcColor: #17212b;
$dangerColor: #e33741;
$successColor: #119c1a;
$messageColor: #182533;
$activeColor: #5eb5f7;
$linkColor: #59b7ff;

.alert {

    width: 250px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &__danger {
        background-color: $dangerColor;
    }

    &__success {
        background-color: $successColor;
    }

    &__text {
        color: $textColor;
        text-align: center;
    }
}