.create {
    &__container {
        width: 1200px;
        margin: 0 auto;
    }

    &__title {
        margin-top: 50px;
        text-align: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 600px;
        align-items: center;
        margin: 0 auto;
    }
}
