$menuColor: #0e1621;
$textColor: rgba(255, 255, 255, 0.84);
$secondTextColor: #aaaaaa;
$itemColor: #202b36;
$btnChat: #3a3a3d;
$btnHover: #464649;
$bgcColor: #17212b;
$dangerColor: #e33741;
$messageColor: #182533;
$activeColor: #5eb5f7;
$linkColor: #59b7ff;

.user-data {
    &__hr {
        width: 80%;
        margin: 35px auto;
        border-color: $secondTextColor;
    }

    &__role {
        text-align: center;
    }

    &__title {
        text-align: center;
    }

    &__form {
        input {
            margin-bottom: 20px;
        }
    }
}