body {
    display: grid;
    grid-template-rows: 40px 1fr 60px;
    height: 100vh;
    max-height: 100vh;
}

header {
    height: 40px;
    border: 1px solid orange;
    box-sizing: border-box;
}

footer {
    height: 60px;
    border: 1px solid blue;
    box-sizing: border-box;
}

.main-container {
    overflow: hidden;
    display: flex;
}

@media (max-width: 960px) {

    body {
        display: grid;
        grid-template-rows: 1fr 60px;
    }

    header {
        z-index: 2;
        width: 100%;
        position: absolute;
    }

    .main-container {
        max-height: 100vh;
    }
    
}