$menuColor: #0e1621;
$textColor: rgba(255, 255, 255, 0.84);
$secondTextColor: #aaaaaa;
$itemColor: #202b36;
$btnChat: #3a3a3d;
$btnHover: #464649;
$bgcColor: #17212b;
$dangerColor: #e33741;
$messageColor: #182533;
$activeColor: #5eb5f7;
$linkColor: #59b7ff;

body {
    display: grid;
    grid-template-columns: 80px 1fr;
    height: 100vh;
    max-height: 100vh;
}

.btn {
    &--chat {
        background-color: $btnChat;
        border: none;
        color: $textColor;
        border-radius: 2px;
        padding: 5px 9px;
        cursor: pointer;
        transition: .3s ease;

        &:hover {
            background-color: $btnHover;
        }
    }
}

.chat {
    &__container {
        display: grid;
        grid-template-columns: 250px 1fr;
        
    }

    &__menu {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        background-color: $menuColor;
          
    }

    &__list {
        width: 100%;
        &-item {
            display: flex;
            flex-direction: column;
            text-decoration: none;
            align-items: center;
            width: 100%;
            padding: 5px 0;
            box-sizing: border-box;

            i, span {
                color: $textColor;
            }

            &--exit span {
                letter-spacing: 1px;
            }
    
            &--active {
                background-color: #25303e;

                i, span {
                    color: $activeColor;
                }
                
            }
            i {
                font-size: 26px;
            }
        }
    }

    &__contacts {
        
        display: flex;
        flex-direction: column;
        overflow: hidden;
        max-height: 100vh;
        box-sizing: border-box;
        padding-top:  10px;
        background-color: $bgcColor;

        button {
            margin-bottom: 10px;
            width: 100px;
            align-self: center;
        }
    }

    &__header {
        display: grid;
        height: 50px;
        background-color: $bgcColor;
        border-left: 1px solid black;

        grid-template: 
            'title toolbar exit'
            'count toolbar exit';
    }

    &__title {
        color: $textColor;
        grid-area: title;

        &--private {
            grid-row: 1/3;
            align-self: center;
        }
    }

    &__title, &__count {
       text-align: center;
    }

    &__count {
        grid-area: count;
        font-size: 14px;
        color: $secondTextColor;
    }

    &__topbar {
        height: 100%;
        display: flex;
        grid-area: toolbar;
        justify-content: flex-end;
        align-items: center;
        position: relative;

        button {
            height: 40px;
            margin-right: 10px;
        }
    }

    &__exit {
        margin-right: 15px;
        text-decoration: none;
        grid-area: exit;
        align-self: center;
        justify-self: end;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: $dangerColor;

    }

    &__users {
        list-style: none;
        display: none;
        position: absolute;
        top: 50px;
        right: 50px;
        width: 150px;
        background-color: $bgcColor;
        border-top: 1px solid;
        

        &--active {
            display: block;
        }
    }

    &__user {
        padding: 10px;
        text-align: center;
        color: $textColor;
    }

    &__body {
        display: flex;
        flex-direction: column;
        overflow: auto;
        background-color: $menuColor;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            background-color: #3f4750;
            border-radius: 100px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #9b9fa4;
            box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
            border-radius: 10px;
        }
    }

    &__messages {
        display: grid;
        max-height: 100vh;
        overflow: hidden;
    }

    &__send-message {
        display: flex;
        border: 1px solid green;

    }
    &__content {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 60px;
        background-color: $bgcColor;
        color: $textColor;

        button {
            grid-column: 2/3;
            grid-row: 1/2;
            height: 40px;
            align-self: end;
            border: none;
            background-color: $activeColor;

            i {
                font-size: 28px;
                &::before {
                    transform: rotateZ(45deg);
                }
            }
        }
    }

    &__input {
        box-sizing: border-box;
        width: 100%;
        min-height: 1.4em;
        max-height: 10em;
        background-color: white;
        font-size: 16px;
        text-align: left;
        overflow-y: auto;
        grid-column: 1/2;
        background-color: inherit;
        outline: none;
        padding: 10px;

        &::-webkit-scrollbar {
            width: 0;
        };
        
        &:empty:before {
            content: attr(data-placeholder);
        }
        // div {
        //     border: none;
        //     padding: 0;

    }

    &__files {
        border-top: 1px solid black;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 3px;
        grid-column: 1/3;
        background-color: $bgcColor;
    }

    &__file {
        margin: 3px 8px;
        a {
            color: $linkColor;
            text-decoration:  none;
        }
    }

}

.contacts {

    &__list {
        overflow: auto;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            background-color: #3f4750;
            border-radius: 100px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #9b9fa4;
            box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
            border-radius: 10px;
        }
    }

    &__group-create {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-bottom: 10px;

        input {
            width: 85%;
            padding: 8px;
            font-size: 14px;
            background-color: #242f3d;
            color: $textColor;
            border: none;
            outline: none;
            border-radius: 5px;
        }

        button {
            margin-top: 10px;
        }
    }

}

.contact {
    &__item {
        display: flex;
        align-items: center;
        transition: .3s ease;
        cursor: pointer;
        padding: 5px 0;
        color: $textColor;

        &:hover {
            background-color: $itemColor;
        }

        input {
            margin: 0 5px;
        }

        i {
            margin: 0 10px;
            font-size: 26px;
        }
    }
}

.message {
    &__container {
        width: 500px;
        align-items: flex-start;
        margin: 5px 10px;
        display: grid;
        grid-template-columns: 1fr 50px;
        align-items: end;
        padding: 7px;
        background-color: $messageColor;
        border-radius: 5px;

        &--author {
            align-self: flex-end;
        }
    }

    &__link, &__file {
        color: $activeColor;
    }

    &__author {
        justify-self: start;
        margin-left: 15px;
        color: $activeColor;
    }

    &__time {
        text-align: center;
        color: $secondTextColor;
    }

    &__text {
        text-align: left;
        color: $textColor;
    }

    &__body {
        grid-row: 2/3;
        grid-column: 1/3;
    }

    &__time {
        grid-column: 2/3;
    }
}

@media (max-width: 1140px) {
    .message {
        &__container {
            width: 400px;
        }
    }
    
}


@media (max-width: 960px) {

    .chat {
        &__body {
            padding: 10px;
            align-items: center;
        }
    }

    .message {
        &__container {
            width: 100%;
            margin: 6px 0;
            box-sizing: border-box;

            &--author {
                align-self: center;
            }

        }
    }
    
}


@media (max-width: 720px) {
    .chat {

        &__container {
            grid-template-columns: 1fr;
        }

        &__contacts {
            display: none;

            &--active {
                display: block;
            }
        }
    }
    
}
