header {
  height: 100%;
  background-color: #17212b;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav__menu {
  height: 100%;
  width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__menu ul li {
  margin-right: 15px;
}

.nav__menu a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.84);
  padding: 6px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.nav__menu a:hover {
  color: #59b7ff;
}

.nav__menu button {
  display: none;
}

.nav__btn {
  display: none;
}

.nav__btn input[type="checkbox"] {
  display: block;
  height: 32px;
  width: 30px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav__btn .hamburger-lines {
  display: block;
  height: 28px;
  width: 35px;
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__btn .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
}

.nav__btn .hamburger-lines .line1 {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.nav__btn .hamburger-lines .line2 {
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

.nav__btn .hamburger-lines .line3 {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.nav__btn input[type="checkbox"]:checked ~ .menu-items {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__btn input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav__btn input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.nav__btn input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 1140px) {
  .nav__menu {
    width: 800px;
  }
}

@media (max-width: 960px) {
  header {
    background-color: inherit;
  }
  header.active {
    background-color: #17212b;
  }
  .nav__menu {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__menu--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .nav__menu ul li {
    margin: 0;
  }
  .nav__menu a {
    width: 100%;
    text-align: center;
    margin: 4px 0;
    font-size: 20px;
  }
  .nav__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 5px;
    right: 10px;
  }
  .nav__btn--active {
    position: absolute;
    right: 15px;
    top: 20px;
  }
}

@media (max-width: 730px) {
  .nav__btn {
    right: 5px;
  }
}
/*# sourceMappingURL=navbar.css.map */