:root[data-theme="light"] {
  --background-color: #fafafa;
  --color: #000;
  --btn-color: #e45918;
}

:root[data-theme="dark"] {
  --btn-color: #1866e4;
  --menuColor: #0e1621;
  --textColor: rgba(255, 255, 255, 0.84);
  --secondTextColor: #aaaaaa;
  --itemColor: #202b36;
  --btnChat: #3a3a3d;
  --btnHover: #464649;
  --bgcColor: #17212b;
  --activeBgcColor: #25303e;
  --dangerColor: #e33741;
  --messageColor: #182533;
  --activeColor: #5eb5f7;
  --linkColor: #59b7ff;
  --successColor: #119c1a;
}
